/* reset  */
body,
h1,
h2,
h3,
ul,
li,
p,
dt,
dl {
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

/* general */

body {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  background: #faf6ed;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

/* navigation */

.menu-nav {
  grid-column: 3 / 5;
  margin: 2rem 0;
  background: #fb5;
}

.menu-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.menu-nav li a {
  display: block;
  padding: 10px;
  margin-right: 10px;
  color: #222;
  text-decoration: none;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
}

/* main */

.grid-section {
  grid-column: 2 / 4;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: 90px 300px 1fr;
  grid-gap: 20px;
  margin-bottom: 4rem;
}

/* main title */

.title {
  font-family: "Playfair Display SC", georgia;
  font-size: 6rem;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 1rem;
  grid-column: 1 / 4;
}

/* animals list description */

.description-animals {
  grid-column: 3;
}

.description-animals section {
  margin-bottom: 3rem;
}

.animals h2 {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  color: #e54;
}

.animals h2::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.animals p {
  font-family: Helvetica, Arial;
  line-height: 1.2;
  margin-bottom: 1rem;
}

/* animals list img */

.list-animals {
  height: 370px;
  overflow-y: scroll;
  grid-column: 2;
}

.list-animals::-webkit-scrollbar {
  width: 18px;
}

.list-animals::-webkit-scrollbar-thumb {
  background: #fb5;
  border-left: 4px solid #faf6ed;
  border-right: 4px solid #faf6ed;
}

.list-animals::-webkit-scrollbar-track {
  background: #faf6ed;
}

/* FAQ */

.faq-list {
  grid-column: 2 / 4;
}

.faq-list dt {
  font-family: "IMB Plex Mono", monospace;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: #e54;
}

.faq-list dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-list dd {
  font-family: Helvetica, Arial;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

/* contact */

.map {
  grid-column: 2;
}

.data {
  grid-column: 3;
}

.data li {
  margin-bottom: 1rem;
  font-family: Helvetica, Arial;
}

.data li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

/* copyright - footer */
